@import url('fonts.css');

body {
	width: 100%;
	margin: auto;
	overflow: hidden;
	background-image: url('../images/green_back.jpg');
}
header {
	height: 150px;
	width: 100%;
}
.banner {
	height: 70%;
	width: 100%;
}
nav {
	margin: auto;
	width: 70%;
	height: 30%;
	color: black;
	padding: 1em;
}

nav a {
	color: black;
}
nav a:hover {
	color: white;
}
.user {
	float: right;
	width: 20%;
	height: 50px;
	background-image: url('../images/back.jpg');
	border-radius: 2px;
	margin-top: 20px;
}
.user .details {
	margin: auto;
	margin-top: 10px;
	margin-left: 10px;
}
footer {
	bottom: 0;
	height: 20%;
	width: 100%;
	background-image: url('../images/back_2.jpg');
	-webkit-box-shadow: inset 0px 2px 5px 1px #000;
	box-shadow: inset 0px 2px 5px 1px #000;
}
.content {
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	background-image: url('../images/back.jpg');
	height: 50%;
	width: 70%;
	padding: 1.5em;
	border-radius: 5px;
	box-shadow: 0 0.5px 1px 0.6px #000;
	-moz-box-shadow: 0 0.5px 6px 1px #000;
	-webkit-box-shadow: 0 1px 5px 0 #000;
	-o-box-shadow: 0 0.5px 1px 0.6px #000;
}
.content form {
	margin: auto;
	width: 40%;
	display: inline-block;
	
	padding:1%;
}
.content form input {
	display: block;
}
nav a {
	margin-top: 10px;
	font-size: 20px;
	font-family: Tangerine Regular;
	text-decoration: none;
	text-shadow: 0px -1px 1px #666;
filter: dropshadow(color=#ccc, offx=0, offy=-1);

}
.logo{
	float:left;
}
.logo img{
}
/**
 * Listing	
 * 
 * 
 */
ul, li {
	list-style: none;
	right: 0;
	padding: 0 0 0 10px;
}
ul {
	text-align: left;
}
ul li {
	display: inline-block;
	margin-right: .75em;
	margin-top: 10px;
}
ul li.last {
	margin-right: 0;
}
.main-page-tiles h2 {
	text-align: center;
	font-family: Tangerine Regular;
	font-size: 40px;
}
.social {
	width: 20%;
	margin: auto;
	position: absolute;
	bottom: 0;
	left: 40%;
}
.social img {
	display: inline-block;
}
.search {
	float: right;
}

.cart {
	float: right;
	width: 15%;
	height: 10%;
	border: 1px solid black;
	display: inline-block;
	margin-top: 40px;
}
.cart h2 {
	text-align: center;
	font-size: 1.1em;
}

input[type=text] {
	padding: 0.625em;
	width:70%;
	margin-bottom:1em;
}
#map_canvas {
	display: inline-block;
	width: 50%;
	height: 100%;
	float: right;
	border: 2px solid #999;
}

/**
 * 	Messages
 *
 */

.message {
	width: 40%;
	height: 5%;
	border-radius: 3px;
	padding: 1.2%;
}

.yes {
	background-image: linear-gradient(bottom, #1CCC08 37%, #47D934 69%);
	background-image: -o-linear-gradient(bottom, #1CCC08 37%, #47D934 69%);
	background-image: -moz-linear-gradient(bottom, #1CCC08 37%, #47D934 69%);
	background-image: -webkit-linear-gradient(bottom, #1CCC08 37%, #47D934 69%);
	background-image: -ms-linear-gradient(bottom, #1CCC08 37%, #47D934 69%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.37, #1CCC08),
	color-stop(0.69, #47D934)
	);
	border: 1px solid green;
}
.no {
	background-image: linear-gradient(bottom, #B51010 37%, #D64242 69%);
	background-image: -o-linear-gradient(bottom, #B51010 37%, #D64242 69%);
	background-image: -moz-linear-gradient(bottom, #B51010 37%, #D64242 69%);
	background-image: -webkit-linear-gradient(bottom, #B51010 37%, #D64242 69%);
	background-image: -ms-linear-gradient(bottom, #B51010 37%, #D64242 69%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.37, #B51010),
	color-stop(0.69, #D64242)
	);
	border: 1px solid #990000;
}
