@import url('fonts.css');

body {
	background-image: url('../images/myIdentity.jpg');
	width: 100%;
	margin: auto;
	overflow: hidden;
}
header {
	height: 150px;
	width: 100%;
}
.banner {
	height: 70%;
	width: 100%;
}
nav {
	box-shadow: 0 0.5px 1px 0.6px #000;
	-moz-box-shadow: 0 0.5px 6px 1px #000;
	-webkit-box-shadow: 0 1px 5px 0.5px #000;
	-o-box-shadow: 0 0.5px 1px 0.6px #000;
	width: 100%;
	height: 30%;
	background-image: url('../images/back.jpg');
}
.user {
	position: absolute;
	right: -10px;
	float: right;
	width: 20%;
	height: 50px;
	background-image: url('../images/back.jpg');
	border-radius: 2px;
	margin-top: 20px;
}
.user .details {
	margin: auto;
	margin-top: 10px;
	margin-left: 10px;
}
footer {
	position: absolute;
	bottom: 0;
	height: 20%;
	width: 100%;
	background-image: url('../images/back_2.jpg');
	-webkit-box-shadow: inset 0px 2px 5px 1px #000;
	box-shadow: inset 0px 2px 5px 1px #000;
}
.content {
	margin: auto;
	margin-top: 40px;
	margin-left: 10%;
	background-image: url('../images/back.jpg');
	height: 50%;
	width: 70%;
	border-radius: 5px;
	box-shadow: 0 0.5px 1px 0.6px #000;
	-moz-box-shadow: 0 0.5px 6px 1px #000;
	-webkit-box-shadow: 0 1px 5px 0 #000;
	-o-box-shadow: 0 0.5px 1px 0.6px #000;
	display: inline-block;
}
.content form {
	margin: auto;
	width: 40%;
	margin-top: 2em;
	display: inline-block;
	border: 1px solid black;
	margin-left: 5%;
}
.content form input {
	display: block;
}
nav a {
	margin-top: 10px;
	font-size: 20px;
	font-family: Imperator;
	/*text-shadow: 0.5px 0.7px 1px #858585;
	 -webkit-text-shadow: 0.5px 0.7px 1px #858585;
	 -moz-text-shadow: 0.5px 0.7px 1px #858585;
	 filter: dropshadow(color=#858585, offx=0.5, offy=0.7);*/
}
ul, li {
	list-style: none;
	right: 0;
	padding: 0 0 0 10px;
}
ul {
	text-align: center;
}
ul li {
	display: inline-block;
	margin-right: .75em;
	margin-top: 10px;
}
ul li.last {
	margin-right: 0;
}
.main-page-tiles h2 {
	text-align: center;
	font-family: Tangerine Regular;
	font-size: 40px;
}
.social {
	width: 20%;
	margin: auto;
	position: absolute;
	bottom: 0;
	left: 40%;
}
.social img {
	display: inline-block;
}
.search {
	float: right;
}

.cart {
	float: right;
	width: 15%;
	height: 10%;
	border: 1px solid black;
	display: inline-block;
	margin-top: 40px;
}
.cart h2 {
	text-align: center;
	font-size: 1.1em;
}

input[type=text] {
	padding: 0.625em;
}
#map_canvas {
	display: inline-block;
	width: 50%;
	height: 70%;
	float: right;
	border: 1px solid black;
	margin-top: 0.625em;
}
